.Habilidades {
  margin-top: 100px;
  background-color: rgb(250, 246, 246);
  font-size: 25px;
  width: 50%;
  height: 500px;
  left: 700px;
  position: absolute;
  font-family: "Bungee Spice";
  font-family: "Lobster";
  color: #5a5a5a;
  margin-left: 70px;
  z-index: 1;
  border-radius: 10px 10px 10px 10px;
  border: 5px solid #c6cccd;
}
