* {
  font-family: "Bungee Spice", cursive;
  font-family: "Lobster", cursive;
}

.app {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  display: grid;
  height: 100vh;
}


.fotoPerfil { 
  height: 275px;
  position: fixed;
  top: 70%;
  left:80%;
  width:275px;
  z-index: -1;
} 

.fotoPortada {
  position: fixed;
  top: 80px;
  z-index: -1;
  width: 70%;
  height: 700px;
  margin-left: 520px;
  display: flex;
  align-items: center;
  padding-right: 5%;
}
.sobreMi  {
  position: fixed;
  top: 30%;
  left:40%;
  right: 10%;
  font-size: 50px;
  color: white;  
  z-index: -1;
}
.iconSobreMi {
  position: fixed;
  top: 70%;
  left:30%;
  font-size: 60px;  
  z-index: -1;
}
